# Maven build folders
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs and OS junk
.idea/
.vscode/
*.iml
*.log
.DS_Store

# Application config (sensitive)
/src/main/resources/application.yml
/src/main/resources/application.properties

# Environment-specific configs
.env
